include ../heading/heading

mixin textinput({classname, type = 'text', name, placeholder, istitle = false, texttitle} = {})
  .text-input.column1__input-email
    if istitle
      +heading({typetag: 3, text: `${texttitle}`, classmodify: 'text-input__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
      input(
        class=`text-input__input`
        type=type,
        name=name,
        placeholder=placeholder
      )
    else
      input(
        class=`text-input__input`
        type=type,
        name=name,
        placeholder=placeholder
      )