include ../heading/heading
include ./selectcount/selectcount

mixin dropdown({type = 'text', name, placeholder, istitle = false, texttitle} = {})
  .column1__dropdown.dropdown.dropdown--margin-top
    if istitle
      +heading({typetag: 3, text: `${texttitle}`, classmodify: 'dropdown__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100'})
      input(
        class=`dropdown__input js-dropdown__input-${type} modf__font-family--open-sans modf__font-weight--normal`
        type=type,
        name=name,
        placeholder=placeholder
      )
      .dropdown__arrow-down
        +material-icons({
          type: 'keyboard_arrow_down', 
        })
      .dropdown__drop-menu
        +selectcount({blockname: 'drop-menu', texttitle: 'спальни'})
        +selectcount({blockname: 'drop-menu', texttitle: 'кровати'})
        +selectcount({blockname: 'drop-menu', texttitle: 'ванные комнаты'})
    else
      input(
        class=`dropdown__input js-dropdown__input-${type} modf__font-family--open-sans modf__font-weight--normal`
        type=type,
        name=name,
        placeholder=placeholder
      )
      .date-text-field__keyboard-arrow
        +material-icons({
          type: 'keyboard_arrow_down', 
        })