include ../../heading/heading

mixin selectcount({blockname, texttitle, row, isBtn, visibleReset=''} = {})
  if isBtn
    .selectcount__btn-container
      button(class=`selectcount__btn-reset selectcount__btn-reset-${row} ${visibleReset}`) Очистить
      button(class=`selectcount__btn-apply selectcount__btn-apply-${row}`) Применить
  else
    div(class=`${blockname}__selectcount`).selectcount
      +heading({typetag: 3, text: texttitle, classmodify: `selectcount__title selectcount__title-${row} modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100`})
      .selectcount__wrapper
        button(class= `selectcount__btn selectcount__btn-minus-${row}`) -
        +heading({typetag: 3, text: '0', classmodify: `selectcount__count selectcount__count-${row} selectcount__title modf__font-family--open-sans modf__font-weight--bold modf__text--h3 modf__color--darkshade100`})
        button(class= `selectcount__btn selectcount__btn-plus-${row}`) +