mixin rate-buttons({isDisabled=false, rate}={})
  - let localRate = (rate > 0)  ? rate : 0

  .rate-buttons__container
    each val in [5, 4, 3, 2, 1]
      if val == localRate
        input.rate-buttons__input(id=`star${val}` type='radio' name='rating' value=val disabled=isDisabled checked)
      else
        input.rate-buttons__input(id=`star${val}` type='radio' name='rating' value=val disabled=isDisabled)

      label.rate-buttons__label(for=`star${val}` title=`${val} stars`)
